* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
}

.login-container {
  background: #ffffff;
  padding: 40px;
  border-radius: 18px;
  width: 360px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
  position: relative;
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-bar {
  position: absolute;
  top: 16px;
  left: 16px;
}

.btn-voltar {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f1f5f9;
  border-radius: none;
  border: none;

  font-size: 12px;
  color: #1d6fa3;

  cursor: pointer;
  transition: 0.2s;
}


.btn-voltar:active {
  transform: scale(0.95);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
  color: #0f172a;
}

.input-group {
  position: relative;
  margin-bottom: 18px;
}

input {
  width: 100%;
  padding: 13px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
  background: #fff;
}

input:focus {
  border-color: #1d6fa3;
  box-shadow: 0 0 0 2px rgba(29,111,163,0.15);
}

#toggleSenha {
  position: absolute;
  right: 12px;
  top: 13px;
  font-size: 14px;
  color: #64748b;
  cursor: pointer;
}

#toggleSenha:hover {
  color: #1d6fa3;
}

.erro {
  color: #ef4444;
  font-size: 12px;
  margin-top: 4px;
}

.options {
  margin-bottom: 18px;
  font-size: 13px;
  color: #475569;
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #1d6fa3, #4db6e2);
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 25px rgba(29,111,163,0.3);
}

#erroGeral {
  color: #ef4444;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

.link {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #475569;
}

.link a {
  color: #1d6fa3;
  text-decoration: none;
  font-weight: 500;
}

.link a:hover {
  text-decoration: underline;
}