* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1d6fa3, #4db6e2);
}

.login-container {
  background: white;
  padding: 35px;
  border-radius: 16px;
  width: 340px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.18);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* botao pra voltar no inico */
.top-bar {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}

.btn-voltar {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.8);
  
  border-radius: 0;

  font-size: 18px;
  color: #1d6fa3;



  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-voltar:hover {
  transform: translateY(-3px) scale(1.05);
  
  background: white;
}

.btn-voltar:active {
  transform: scale(0.92);

}


h2 {
  text-align: center;
  margin-bottom: 20px;
}


.input-group {
  position: relative;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #1d6fa3;
  box-shadow: 0 0 0 3px rgba(29,111,163,0.15);
}

/* mostrar senha */
#toggleSenha {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

/* se der erro */
.erro {
  color: red;
  font-size: 12px;
}

/* pçoes */
.options {
  margin-bottom: 15px;
  font-size: 14px;
}

/* botao pra fazer login */
button {
  width: 100%;
  padding: 12px;
  background: #2ecc71;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #27ae60;
}

/* se der erro */
#erroGeral {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

/* p criar a conta*/
.link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.link a {
  color: #1d6fa3;
  text-decoration: none;
  font-weight: bold;
}

.link a:hover {
  text-decoration: underline;
}