body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: #f5f7fa;
  color: #1e293b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #1d6fa3;
  color: #000000;
}

.navbar h2 {
  font-size: 18px;
  font-weight: 600;
}

.user-area {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-area span {
  font-size: 14px;
  color: #cbd5f5;
}

.user-area button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: #ef4444;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.user-area button:hover {
  background: #dc2626;
}

h2 {
  margin: 30px 40px 10px;
  font-size: 20px;
  font-weight: 600;
}

.calculadora {
  margin: 0 40px 40px;
  padding: 30px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  place-items: center
}

.calculadora label {
  font-size: 13px;
  margin-bottom: 6px;
  display: block;
  color: #475569;
}

.calculadora input {
  width: 50%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.calculadora input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59,130,246,0.15);
}

.calculadora button {
  margin-top: 20px;
  width: 20%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #1d6fa3, #4db6e2);
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
   display: block;
  margin: 0 auto;
}

.calculadora button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(29,111,163,0.3);
}

.resultado {
  margin: 20px auto;
  padding: 18px;
  border-radius: 10px;
  background: #f1f5f9;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  width: 30%;
  display: block; 
}

.resultado strong {
  color: #0f172a;
}

@media (max-width: 768px) {
  .calc-grid {
    grid-template-columns: 1fr;
  }

  .calculadora {
    margin: 20px;
    padding: 20px;
  }

  h2 {
    margin: 20px;
  }
}